<div class="page-header">
  <h1>Uploads</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newUploadsPath() %>" class="btn btn-primary">Create New Upload</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>IPFSHash</th>
    <th>Key</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (upload) in uploads { %>
      <tr>
      <td><%= upload.IPFSHash %></td>
        <td><%= upload.Key %></td>
        <td>
          <div class="pull-right">
            <a href="<%= uploadPath({ upload_id: upload.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editUploadPath({ upload_id: upload.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= uploadPath({ upload_id: upload.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
